@font-face {
    font-family: open-sans-bold;
    src: url('../../biblioteca/fontes/openSans/OpenSans-Bold.ttf');
    font-family: pt-sans-caption;
    src: url('../../biblioteca/fontes/ptSansCaption/regular.ttf');

}

/* GERAL */

* {
    font-family: 'open-sans-bold', sans-serif;
}
* a{
    color: #393939;
}

/* Tela cinza inicial quando o usuário acaba de logar e some quando a página termina de carregar */
#telaCarregando {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #ccc;
}

body{
    /* background: whitesmoke repeat fixed; */
    background-image: url("../imagens/backgroundMenu.png");
    background-size: auto;
    margin: 0;
    padding: 0;
    height:100%;
}
/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}
html {
    height: 100%;
}

/* Frame central que obscurece o resto da tela */
.shaderFrame{
    position: fixed;
    top: 0;
    background-color: #000;
    width:100%;
    height: 100%;

    opacity: 0;
    z-index: 8000;

    visibility: hidden;
}

/* Conteúdo que fica dentro do frame escuro acima /\ */
.shaderFrameContent {
    border-top: 23px solid rgb(21, 85, 146);
    border-radius: 5px;
    cursor: move;
    position: absolute;
    top: 25%;
    padding: 0;
    margin: 0;

    z-index: 9000;
    opacity: 0;
    visibility: hidden;
}

.shaderFrameContentWrap{
    cursor: auto;
    background-color: #fff;
    padding: 10px;
    z-index: 10000;
}

.loading_background{

}
.tabelaPermissoes{
    border: 1px solid #000;
    padding: 5px;
}
.tabelaPermissoes tr{
    margin-bottom: 3px; 
}
.tabelaPermissoes td{
    border: 0px;
    border-bottom: 1px solid #000;
    padding: 2px;
}
/* Conteúdos centralizados */
.centralizado {
    position:relative;
    margin-left:auto;
    margin-right: auto;
}
/* Texto centralizado */
.textoCentralizado{
    text-align: center !important;
}

.textoNegrito{
    font-weight: bold;
}

/*input:focus,select:focus{
    border: #ccc solid 2px;
    border-radius: 4px;
    outline: cornflowerblue solid 2px;
    outline-offset: -2px;
}*/

input {
    padding-left: 5px;
}

input,select,textarea {
    /*    border-radius: 0px !important;
        border: #ccc solid 2px;*/
    min-height: 25px;
    /* padding: 2px; */
}

td {
    font-size: 14px;
}

.campoObrigatorio{

}

.campoErrado {
    border-color: red;
    outline: red solid 2px;
    outline-offset: -2px;
}


.campoData {
    background: url("../imagens/icones/icon-calendar.png") #FFF no-repeat right;
    background-position: 98% 50%;
    background-size: 20px;
    background-color: #fff !important;
    margin-right: 2px;
    margin-bottom: 1px;
    min-width: 120px;
    text-align: left!important;
}

.campoHora {
    background: url("../imagens/icones/clock-calendar.png") #FFF no-repeat right;
    background-position: 98% 50%;
    background-size: 20px;
    background-color: #fff !important;
    margin-right: 2px;
    margin-bottom: 1px;
    min-width: 120px;
}

.tabelaDeEdicao{
    width: 100%;
}

.tabelaDeEdicao .detalhes{
    padding: 1px;
}

.tabelaDeDetalhes{
    width: 98%;
    border: #ccc 1px solid;
}

.tabelaDeDetalhes td:first-of-type{
    width: 50px;
}

.tabelaDeDetalhes td:last-of-type{
    text-align: left !important;
}

.tabelaDeEdicao tr{
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
}

input::disabled{
    background-color: #eee;
}

input::read-only{
    background-color: #eee;
}

input[type=search]{
    border-radius: 20px;
    padding-left: 5px;
}

/* FIM DO GERAL */

/* CONTENT */
.content {
    overflow:auto;
    padding-bottom: 180px;
    width: 80%;
    position: relative;
    margin: auto;
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 50px;

    display: block;
}

.content p{
    text-align: justify;
    font-size: 95%;
}

#frameConteudo {
    height: auto;
    min-height: 100%;
}

.content fieldset{
    position: relative;
    padding: 30px;
    padding-bottom: 25px;
    margin-bottom: 5px;

    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #FFF;

    /*    -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.13);
        -moz-box-shadow:    3px 3px 4px rgba(50, 50, 50, 0.13);
        box-shadow:         3px 3px 4px rgba(50, 50, 50, 0.13);*/
}

.content fieldset>fieldset{
    border: #ccc solid 1px;
    box-shadow: none;

    padding: 10px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.content fieldset legend {
    position: relative;
    background-color: #FFF;
    border: #ccc solid 1px;
    border-radius: 4px;
    padding: 4px;
}

/* Página de cadastro de descritores para imagens */
.checkbox_novo_descritor{

}

#resultadoImagens {
}

#resultadoImagens p.descricao:before {
    content: "“ ";
    vertical-align: .15em;
    font-size: 1.00em;
    font-family: Georgia, serif;
    color: #888;
}

#resultadoImagens p.descricao:after {
    content: '  ”';
    vertical-align: -.50em;
    font-size: 1.00em;
    font-family: Georgia, serif;
    color: #888;
}


#resultadoImagens p.descricao {
    color: #666;
}

#quantidadePatrimonios{
    margin-left: 5px;
}

.blocoBranco {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 20px;
}

.zoom {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.imagem-nenhumresultado > img{
    width: 35%;
    margin-left: 5px;

    border: none;
}

.imagem-nenhumresultado h2 {
    color: darkgrey;
    font-size: 4em;
    font-weight: lighter;
    font-style: italic;
    font-family: serif;
    text-rendering: optimizeLegibility;
    position: absolute;
    top: 50%;
    left: 35%;
    word-break: break-word;
}

.versaoRodape{
    position: fixed;
    bottom: 5px;
    right: 5px;
}
/* FIM DO CONTENT */
/*================================================*/
/* FOOTER */

.arrow-down {
    display: none;
    position: absolute;
    left: 10px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid rgb(28, 82, 150);
}

.arrow-up {
    display: none;
    opacity: 0;
    position: absolute;
    left: 10px;
    bottom: 20px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-bottom: 20px solid rgb(28, 82, 150);
}

footer{
    height: 10px;
    max-height: 300px;
    /*background: steelblue;*/
    background: url("../imagens/backgroundFooter.png");
    position: relative;
    bottom:0;
    margin: 0;
    margin-top: -20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 0;
    clear: both;
}

footer lt{
    font-size: 130%;
    font-weight: bold;
}
footer p{
    font-size: 110%;
}
.footerWrap {
    top: 50px;
    height:100%;
    max-height: 300px;
    /*background: lavender;*/
    /*background: url("../imagens/backgroundFooter.png");*/
    border-color: #c8d7dc;
    -webkit-box-shadow: 10px 2px 12px rgba(50, 50, 50, 0.1) inset ;
    -moz-box-shadow:    10px 2px 12px rgba(50, 50, 50, 0.1) inset;
    box-shadow:         10px 2px 12px rgba(50, 50, 50, 0.1) inset;
}
.footerLinks{
    font-size: 85%;
    vertical-align: top;
    display: inline-block;
    max-width: 400px;
}

.footerLinks ul {
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px
}

.footerLinks ul lt{
    font-weight: bold;
}
.footerLinks ul li{
    margin: 10px;
    list-style: none;
    text-align: left;
}
.footerLinks ul li p{
    text-align: justify;
}

.footerLinks a:after{
    content: url("../imagens/icones/external_link.gif");
    position: relative;
    left: 5px;
    padding-right: 5px;
}

/* FIM FOOTER */
/*================================================*/
/* HEADER */


#fullscreen-toggle{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
}

#barraSuperior {
    margin: 0;
    border: 1px solid #3871a6;
    background: #3871a6;
    border-left: none;
    border-right: none;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999999;
    display: none;
}

#menuPosition {
    margin:0;
    width:100%; 
    visibility: hidden;
    border:none;
}
.headerWrap{
    position: relative;
    min-height: 100px;

    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;

    display: block;

    background: none;
    opacity: 1;

    border-top-style: none;
    border-radius: 20px;
}
.headerWrap p {
    font-size: 150%;
    text-align: center;
    font-family: sans-serif;
    color: #555555; 
}

header .tituloFixo{
    font-size: 3em;
    font-weight: lighter;
    font-family: sans-serif;
    color: #CC002B;
}

header .descricaoSite{
    color: #808080;

}
header{
    /*border-top: #3871a6 4px solid;*/
    background: url("../imagens/backgroundHeader.png");
    min-height: 140px;
}

header figure {
    margin: 0;
}
header a{ /* Todos os links do header */
    text-decoration: none;
}
header .logo {
    position: absolute;
    width: 190px;
    display: inline;
    z-index: 2;
    left: 10px;
    top: 10px;
    bottom: auto;

    /*    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.1);
        -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.1);
        box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.1);*/


}

@media (max-width: 500px){
    header .logo{
        display: none;
    }
    header p{
        font-size: 120%;
        max-width: 150px;
    }
    .menu a li{
        padding-top:5px;
        padding-bottom:5px;
    }
    footer {
        display: none;
    }
}
@media (min-width:500px ) and ( max-width:800px){
    header p{
        display: none;
    }
    div#informacoes{
        display:none;
    }
}
@media (min-width:800px) and (max-width:1100px){
    header p{
        font-size: 150%;
    }
}
header .userInfoWrap {
    position: absolute;
    background: #FFF;
    border-radius: 25px 0 0 5px;
    right: 0px;
    top: 20px;
    padding: 20px;
}

header #avisos {
    width: 60%;
    position: relative;
    left: -80px;
}

header .userInfoWrap *{
    /*font-size: 100%;*/
    font-family: monospace;
    text-align: right;
}
header .userInfoWrap [id=sair]:before{
    content: url("../imagens/icones/sair.png");
    vertical-align: -20%;
    padding: 5px;
}
header .userInfoWrap [id=gerenciarConta]:before{
    content: url("../imagens/icones/configuracoes.png");
    vertical-align: -10%;
    padding: 5px;
}

/* FIM HEADER */
/*================================================*/
/* MENU */


/* FIM MENU */
/*================================================*/
/* Forms alinhados sem tabela */

/* Campos de texto e senha de qualquer formulário */
/*form input[type=text], form input[type=password] {
    margin: 0.2em;
    padding-left: 5px;
    font-size: 14px;
    line-height: 20px;
    width: 180px;
    min-height: 20px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}*/

/* Exibe componente como tabela */
.tabela {
    display: table;
    width: auto;
    font-size: 15px;
}

/* Span que irá conter um label e um campo de texto ou senha */
.tabela .line{
    display: table-row;
    padding: 2px;
    line-height: 35px;
}

.tabela .line *{
    alignment-baseline: middle;
    vertical-align: middle;
}

.tabela .line textarea{
    margin-bottom: 5px!important;
}

/* Label para algum campo respectivo */
.tabela .line label{
    display: table-cell;
    font-family: sans-serif;
    text-align: right;
    vertical-align: top;
}

.tabela .line label:first-letter{
    text-transform: uppercase;
}

.tabela .line label:after{
    content: ':';
}

/* Asterisco de campo obrigatório */
.tabela .line img[class='imagemCampoObrigatorio']{
    position:relative;
    top: -5px;
    opacity: 0.8;
    /*float: right;*/
}


/* Campos de senha e texto específicos de formulários alinhados sem tabela */
.tabela .line input, .tabela .line select, .tabela .line textarea,.tabela .line div.chosen-container,.line div[class~='tooltip'] {
    display: table-cell;
    float: left;
    margin-bottom: -7px;
    margin-left: 10px; /* Para deixar o texto do campo da esquerda mais afastado */
}

select{
    background-color: #FFF;
    border-width: 1px;
    /*border-radius: 3px;*/
    border-color: #CCC;
    min-width:100px;
    min-height: 25px;
    color: #000;
    width: auto;
}

select:disabled{
    min-height: 25px;
    min-width: 100px;
    background-color: #DDD;
    color: #000;
}

.selecaoPassageiros{
    margin: 10px;
    min-width: 350px;
}
.selecaoPassageiros:first-of-type{
    margin-left: 0!important;
}
.tabela .line .selecaoPassageiros > a,select {
    /*display: table-cell;*/
}

/* FIM Forms alinhados sem tabela */
/*================================================*/
/*  BOOTSTRAP FIXES */

/*
Classe hidden para Internet Explorer
*/
.hidden {
    display: none!important;
    visibility: hidden!important;
    width: 0!important;
    height: 0!important;
}

button.btn-right,
input[type="submit"].btn-right {
    float: right;
}

.btn-buscainterna {
    display: inline-block;

    height: 25px; 
    /* position: absolute!important; */
    float: right; 
    /* right: 0; */
    /* top: 0; */
    border: none!important;
    background: transparent!important;
}
.input-xxzlarge {
    width: 590px;
}

.caption {
    padding: 0;
}

/*Alguns componentes do bootstrap estão sendo exibidos desalinhados */
.fix_position {
    position: relative;
    top: 6px;
}

.text-justify {
    text-align: justify;
}
/*  FIM BOOTSTRAP FIXES */
/*================================================*/
/*  FANCYBOX FIXES */
#fancybox-buttons ul{
    width: 140px!important;
}

/*  FIM FANCYBOX FIXES */
/*================================================*/
/*  */

.debug_div_helper {
    position: fixed;
    bottom: 0;
    width: 100%;    z-index: 9999;

}

.debug_div_border {
    width: 100%;
    height: 20px;
    min-height: 20px;
    background-color: #bbb;
    position: absolute;
    bottom: 0;
    border: 0;
    border-top: solid 20px #aaa;
    margin: 0;
    z-index: 10001;
}

.debug_div_border p{
    position: absolute;
    top: -20px;
    font-weight: bold;
    color: #fff;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.debug_div {
    padding: 10px;
    margin-bottom: 5px;
    background: #FFF;
    width: 100%;
    height: 100%;
    min-height: 0;
    z-index: 10000;
    overflow: scroll;
}

.voltar_topo{
    cursor: pointer;
    opacity: 0.5;
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 51px;
    height: 50px;
    z-index: 20;
    background-image: url("../imagens/voltar_topo.png");
    background-repeat: no-repeat;
    background-size: contain;
}