@font-face {
    font-family: open-sans-bold;
    src: url('../../biblioteca/fontes/openSans/OpenSans-Bold.ttf');
    font-family: pt-sans-caption;
    src: url('../../biblioteca/fontes/ptSansCaption/regular.ttf');

}

/* GERAL */
* {
    font-family: 'open-sans-bold', sans-serif;
    color: #393939;
}
body{
    background: whitesmoke repeat fixed;
    margin: 0;
    padding: 0;
    height:100%;
}
/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}
html {
    height: 100%;
}
.centered {
    position:relative;
    margin-left:auto;
    margin-right: auto;
}
.centeredText{
    text-align: center !important;
}

.boldedText{
    font-weight: bold;
}

input:focus,select:focus{
    border: #ccc solid 2px;
    border-radius: 4px;
    outline: cornflowerblue solid 2px;
    outline-offset: -2px;
}

input,select {
    border-radius: 0px !important;
    border: #ccc solid 2px;
    height: 25px;
}

/* Estilo em botões e botões de envio */
input[type=submit], input[type=button],input[type=reset]{
    background-color: #FBFBFB;
    border: 1px #CDF solid;
    border-radius: 3px !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    min-height: 30px;
}

/* Botões específicos */
input[value~='Cadastrar']:enabled, .table input[value~='Atualizar'] {
    float: right;
    min-width: 100px;
    min-height: 30px;
    border: 1px #0F0 solid;
    -moz-box-shadow: 1px 1px 1px #73f480;
    -webkit-box-shadow: 1px 1px 1px #73f480;
    box-shadow: 1px 1px 1px #73f480;
}
/* Botões específicos */
input[value~='Cadastrar']:disabled,input[value~='Atualizar']:disabled {
    min-width: 100px;
    min-height: 30px;
    float: right;
    background: whitesmoke;
    color: #DDD;
    border: 1px #fe8888 solid;
    -moz-box-shadow: 1px 1px 1px #fe8888;
    -webkit-box-shadow: 1px 1px 1px #fe8888;
    box-shadow: 1px 1px 1px #fe8888;
}

/* Quando clicar em algum botão, ele 'desce' */
input[type=button]:active,input[type=submit]:active{
    position: relative;
    top: 2px;
}

.campoObrigatorio{

}

.campoErrado {
    border-color: red;
    outline: red solid 2px;
    outline-offset: -2px;
}

.campoData {
    background: url("../images/icons/icon-calendar.png") #FFF no-repeat right;
    background-position: 98% 50%;
    background-size: 20px;
    margin-right: 2px;
    margin-bottom: 1px;
    min-width: 120px;
}

.campoHora {
    background: url("../images/icons/clock-calendar.png") #FFF no-repeat right;
    background-size: 20px;
    margin-right: 2px;
    margin-bottom: 1px;
    min-width: 120px;
}

.tabelaDeSelecao tr{
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
}

/* FIM DO GERAL */

/* POP-UP */

.botao_fechar{
    position: absolute;
    top: -5px;
    right: -5px;
    background: url("../images/icons/fechar_16.png");
    min-height: 16px;
    min-width: 16px;
    z-index: 2;
    border: none;
    max-width: 16px;
    max-height: 16px;
}

.popUp {
    display: none;
    padding: 5px;
    position: absolute;
    min-width: 200px;
    min-height: 50px;
    right: 10px;
    top: 70px;
    border: #ccc solid 1px;
    border-radius: 5px;
    background-color: white;
}
/* FIM DO POP-UP */

/* CONTENT */
.content {
    overflow:auto;
    padding-bottom: 150px;
    width: 70%;
    position: relative;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;

    padding-bottom: 180px;
    display: block;
}

.content p{
    text-align: justify;
    font-size: 95%;
}

nav {
    width: 100%;
    height: 100%;
}

body > nav {
    height: auto;
    min-height: 100%;
}

.content fieldset{
    position: relative;
    padding: 30px;

    border: none;
    border-radius: 4px;
    background-color: #FFF;

    -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.13);
    -moz-box-shadow:    3px 3px 4px rgba(50, 50, 50, 0.13);
    box-shadow:         3px 3px 4px rgba(50, 50, 50, 0.13);
}

.content fieldset > fieldset{
    border: #ccc solid 1px;
    box-shadow: none;

    padding: 10px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.content fieldset legend {
    position: relative;
    background-color: #FFF;
    border: #ccc solid 1px;
    border-radius: 4px;
    padding: 4px;
}

/* FIM DO CONTENT */
/*================================================*/
/* FOOTER */

.arrow-down {

    position: absolute;
    right: 10px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid rgb(28, 82, 150);
}

.arrow-up {
    display: none;
    opacity: 0;
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-bottom: 20px solid rgb(28, 82, 150);
}

footer{
    height: 150px;
    max-height: 300px;
    /*background: steelblue;*/
    background: url("../images/candidato1.png");
    position: relative;
    bottom:0;
    margin: 0;
    margin-top: -160px;
    display: block;
    padding-top: 10px;
    padding-bottom: 0;
    clear: both;
}

footer lt{
    font-size: 130%;
    font-weight: bold;
}
footer p{
    font-size: 110%;
}
.footerWrap {
    height:100%;
    max-height: 300px;
    /*background: lavender;*/
    background: url("../images/candidato1.png");
    border-color: #c8d7dc;
    -webkit-box-shadow: 10px 2px 12px rgba(50, 50, 50, 0.1) inset ;
    -moz-box-shadow:    10px 2px 12px rgba(50, 50, 50, 0.1) inset;
    box-shadow:         10px 2px 12px rgba(50, 50, 50, 0.1) inset;
}
.footerLinks{
    font-size: 85%;
    vertical-align: top;
    display: inline-block;
    max-width: 400px;
}

.footerLinks ul lt{
    font-weight: bold;
}
.footerLinks ul li{
    margin: 10px;
    list-style: none;
    text-align: left;
}
.footerLinks ul li p{
    text-align: justify;
}

.footerLinks a:after{
    content: url("../images/icons/external_link.gif");
    position: relative;
    left: 5px;
}
/* FIM FOOTER */
/*================================================*/
/* HEADER */
.headerWrap{
    position: relative;
    min-height: 140px;

    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;

    display: block;

    background: none;
    opacity: 1;

    border-top-style: none;
    border-radius: 20px;
}
.headerWrap h1 {
    font-size: 150%;
    text-align: center;
    font-family: sans-serif;
    color: #555555; 
}
header{
    border-top: #3871a6 4px solid;
    background: url("../images/backgroundHeader.png");
}
header a{ /* Todos os links do header */
    text-decoration: none;
}
header .logo {
    position: absolute;
    display: inline;
    z-index: 2;
    left: 10px;
    top: 10px;
    bottom: auto;

    /*    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.1);
        -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.1);
        box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.1);*/


}

@media (max-width: 500px){
    header .logo{
        display: none;
    }
    header h1{
        font-size: 120%;
        max-width: 150px;
    }
    .menu a li{
        padding-top:5px;
        padding-bottom:5px;
    }
}
@media (min-width:500px ) and ( max-width:800px){
    header h1{
        display: none;
    }
}
@media (min-width:800px) and (max-width:1100px){
    header h1{
        font-size: 150%;
    }
}
header .userInfoWrap {
    position: absolute;
    background: #FFF;
    border-radius: 5px 0 0 5px;
    right: 0px;
    top: 20px;
    padding: 20px;
}
header .userInfoWrap *{
    font-size: 100%;
    font-family: monospace;
    text-align: right;
}
header .userInfoWrap [id=sair]:before{
    content: url("../images/icons/sair.png");
    vertical-align: -20%;
    padding: 5px;
}
header .userInfoWrap [id=gerenciarConta]:before{
    content: url("../images/icons/configuracoes.png");
    vertical-align: -10%;
    padding: 5px;
}

/* FIM HEADER */
/*================================================*/
/* MENU */

@media (min-width:500px ) and ( max-width:800px){
    /* Icones para os menus*/
    #homeLink:before{
        content: url("../images/icons/home_22.png");

    }
    #usuariosLink:before{
        content: url("../images/icons/usuarios_22.png");
    }
    #cursosLink:before{
        content: url("../images/icons/cursos_22.png");
    }
    #livrosLink:before{
        content: url("../images/icons/livros_22.png");
    }
    #documentosLink:before{
        content: url("../images/icons/documentos_22.png");
    }
    #equipamentosLink:before{
        content: url("../images/icons/equipamentos_22.png");
    }
    #viagensLink:before{
        content: url("../images/icons/viagens_22.png");
    }
}
@media (min-width:800px ){


    /* Icones para os menus*/
    #homeLink:before{
        content: url("../images/icons/home.png");
    }
    #usuariosLink:before{
        content: url("../images/icons/usuarios.png");
    }
    #cursosLink:before{
        content: url("../images/icons/cursos.png");
    }
    #livrosLink:before{
        content: url("../images/icons/livros.png");
    }
    #documentosLink:before{
        content: url("../images/icons/documentos.png");
    }
    #equipamentosLink:before{
        content: url("../images/icons/equipamentos.png");
    }
    #viagensLink:before{
        content: url("../images/icons/viagens.png");
    }
}
/* Links do menu */
/* Correção para a posição dos nomes dos links ao lado da imagem */
li[id$=Link]:before{
    vertical-align: -50%;
    padding-right: 5px;
}
/* Para tratar a opacidade dos icones dos menus */ 
li[id$=Link]:before{
    opacity: 0.3;
}
.menu li[id$=Link]:hover:before{
    opacity: 0.5;
}
.menu li[id$=Link]:active:before{
    opacity: 0.8;
}
.menu li[class$=visited]:before{
    opacity: 1;
}
.menu li[class$=visited]:hover:before{
    opacity: 1;
}

.menu{
    user-select: none;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 53px;
    /*border: rgb(230, 230, 230) solid 1px;*/
    border-left: none;
    border-right: none;
    background: url("../images/backgroundMenu.png");
    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.2);
}
.menuContainer {
    z-index: 1;
    position: relative;
}

.menu a:hover{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
}
.menu menu{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    display: table;
}

.menu menu:after{
    content: '';
    display: table;
    clear: both;
}
.menu li{
    opacity: 0.7;
    color: #000;
    z-index:2;
    font-size: 80%;
    font-family: 'open-sans-bold', sans-serif;
    font-weight: bold;
    position:relative;
    display: inline-block;
    padding: 10px;
    list-style-type: none;
    border-top: none;
    border-bottom: none;
}

.menu li:after, .menu li:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu li:hover {
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 2%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(255,255,255,0.96)), color-stop(54%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    border-bottom: #3871a6 3px solid;
}

.menu li.visited {
    opacity: 1;
    z-index: 3;
    border-bottom: #3871a6 3px solid;
    -webkit-box-shadow: 2px 0px 12px rgba(50, 50, 50, 0.2) ;
    -moz-box-shadow:    2px 0px 12px rgba(50, 50, 50, 0.2) ;
    box-shadow:         2px 0px 12px rgba(50, 50, 50, 0.2) ;

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 2%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(255,255,255,0.96)), color-stop(54%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

.menuLink {
    text-transform: uppercase;
    font-size: 75% !important;
}

.hiddenSubMenuLink{
    display: none;
}

.subMenu{
    position:relative;
    display:inline-block;
    width:100%;
    min-height: 30px;
    max-height: 40px;
}

.subMenu menu ul{
    margin: 0;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 0;
}

.subMenu * {
    z-index: 1;
}

.subMenu menu{
    position: relative;
    display: table;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    padding:0;

    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.1);
}

.subMenu menu li{
    z-index:2;
    font-size: 80%;
    position:relative;
    display: inline-block;
    padding: 10px;
}
/* FIM MENU */
/*================================================*/
/* Forms alinhados sem tabela */

/* Campos de texto e senha de qualquer formulário */
form input[type=text], form input[type=password] {
    margin: 0.2em;
    padding-left: 5px;
    font-size: 14px;
    line-height: 20px;
    width: 180px;
    min-height: 20px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

/* Exibe componente como tabela */
.table {
    display: table;
    width: auto;
    font-size: 15px;
}

/* Span que irá conter um label e um campo de texto ou senha */
.table .line{
    display: table-row-group;
    padding: 2px;
    line-height: 30px;
}

/* Label para algum campo respectivo */
.table .line p{
    display: table-cell;
    font-family: sans-serif;
    text-align: right;
}

.table .line img{
    position:relative;
    top: 8px;
    display: -webkit-box;
    opacity: 0.8;
}

.table .line p:first-letter{
    text-transform: uppercase;
}

.table .line p:after{
    content: ':';
}

/* Campos de senha e texto específicos de formulários alinhados sem tabela */
.table .line input[type=text],.table .line input[type=password], .table .line select {
    display: table-cell;
    float: left;
    margin-bottom: -7px;
    margin-top: 5px;
    margin-left: 10px; /* Para deixar o texto do campo da esquerda mais afastado */
}

select{
    background-color: #FFF;
    border-width: 1px;
    border-radius: 3px;
    border-color: #DDD;
    min-width:100px;
    min-height: 25px;
    color: #000;
    width: auto;
    height: auto;
}

select:disabled{
    min-height: 25px;
    min-width: 100px;
    background-color: #DDD;
    color: #000;
}

/* FIM Forms alinhados sem tabela */
/*================================================*/