@font-face {
    font-family: open-sans-bold;
    src: url('../../biblioteca/fontes/openSans/OpenSans-Bold.ttf');
    font-family: pt-sans-caption;
    src: url('../../biblioteca/fontes/ptSansCaption/regular.ttf');

}

/* GERAL */

* {
    font-family: 'open-sans-bold', sans-serif;
}
* a{
    color: #393939;
}
body{
    background: whitesmoke repeat fixed;
    margin: 0;
    padding: 0;
    height:100%;
}
/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}
html {
    height: 100%;
}

/* Frame central que obscurece o resto da tela */
.shaderFrame{
    position: fixed;
    top: 0;
    background-color: #000;
    width:100%;
    height: 100%;

    opacity: 0;
    z-index: 8000;

    visibility: hidden;
}

/* Conteúdo que fica dentro do frame escuro acima /\ */
.shaderFrameContent {
    border-top: 23px solid rgb(21, 85, 146);
    border-radius: 5px;
    cursor: move;
    position: absolute;
    top: 25%;
    padding: 0;
    margin: 0;

    z-index: 9000;
    opacity: 0;
    visibility: hidden;
}

.shaderFrameContentWrap{
    cursor: auto;
    background-color: #fff;
    padding: 10px;
    z-index: 10000;
}

.loading_background{

}
.tabelaPermissoes{
    border: 1px solid #000;
    padding: 5px;
}
.tabelaPermissoes tr{
    margin-bottom: 3px; 
}
.tabelaPermissoes td{
    border: 0px;
    border-bottom: 1px solid #000;
    padding: 2px;
}
/* Conteúdos centralizados */
.centered {
    position:relative;
    margin-left:auto;
    margin-right: auto;
}
/* Texto centralizado */
.centeredText{
    text-align: center !important;
}

.boldedText{
    font-weight: bold;
}

/*input:focus,select:focus{
    border: #ccc solid 2px;
    border-radius: 4px;
    outline: cornflowerblue solid 2px;
    outline-offset: -2px;
}*/

input,select,textarea {
    /*    border-radius: 0px !important;
        border: #ccc solid 2px;*/
    min-height: 25px;
    padding: 2px;
}

td {
    font-size: 14px;
}

/* Estilo em botões de tabelas de consultas e edições
.botaoTabela{
    border: none !important;
    background: none;
}

.botaoTabela:active{
    position:relative;
    top: 2px;
}
.botaoTabela{
    position:relative;
}

.iconExcluir{
    background: url("../imagens/icones/botoes/botao_excluir.png") no-repeat 0;
    position: relative;
    top: 2px;
    left: -3px;
}

.iconEditar {
    background: url("../imagens/icones/botoes/botao_editar.png") no-repeat 0;
    position: relative;
    top: 2px;
    left: -3px;
}

.iconAdicionar{
    background: url("../imagens/icones/botoes/botao_adicionar.png") no-repeat 0;
    width: 22px;
    height: 22px;
    position: relative;
    top: 2px;
    left: -3px;
}*/

/* Estilo em botões e botões de envio */
/*input[type=submit], input[type=button],input[type=reset]{
    background-color: #FBFBFB;
    border: 1px #CDF solid;
    border-radius: 3px !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    min-height: 30px;
}*/

/* Botões específicos */
/*input[value~='Cadastrar']:enabled, .table input[value~='Atualizar'] {
    float: right;
    min-width: 100px;
    min-height: 30px;
    border: 1px #0F0 solid;
    -moz-box-shadow: 1px 1px 1px #73f480;
    -webkit-box-shadow: 1px 1px 1px #73f480;
    box-shadow: 1px 1px 1px #73f480;
}
 Botões específicos 
input[value~='Cadastrar']:disabled,input[value~='Atualizar']:disabled {
    min-width: 100px;
    min-height: 30px;
    float: right;
    background: whitesmoke;
    color: #DDD;
    border: 1px #fe8888 solid;
    -moz-box-shadow: 1px 1px 1px #fe8888;
    -webkit-box-shadow: 1px 1px 1px #fe8888;
    box-shadow: 1px 1px 1px #fe8888;
}*/

/* Quando clicar em algum botão, ele 'desce' */
/*input[type=button]:active,input[type=reset]:active,input[type=submit]:active{
    position: relative;
    top: 2px;
}*/

.campoObrigatorio{

}

.campoErrado {
    border-color: red;
    outline: red solid 2px;
    outline-offset: -2px;
}

.campoData {
    background: url("../imagens/icones/icon-calendar.png") #FFF no-repeat right;
    background-position: 98% 50%;
    background-size: 20px;
    background-color: #fff !important;
    margin-right: 2px;
    margin-bottom: 1px;
    min-width: 120px;
}

.campoHora {
    background: url("../imagens/icones/clock-calendar.png") #FFF no-repeat right;
    background-size: 20px;
    margin-right: 2px;
    margin-bottom: 1px;
    min-width: 120px;
}

.tabelaDeEdicao{
    width: 100%;
}

.tabelaDeEdicao .details{
    padding: 1px;
}

.tabelaDeDetalhes{
    width: 98%;
    border: #ccc 1px solid;
}

.tabelaDeDetalhes td:first-of-type{
    width: 50px;
}

.tabelaDeDetalhes td:last-of-type{
    text-align: left !important;
}

.tabelaDeEdicao tr{
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
}

input[disabled]{
    background-color: #eee;
}

input[readonly]{
    background-color: #eee;
}

input[type=search]{
    border-radius: 20px;
    padding-left: 5px;
}

/*.botaoAlternarTelaCheia{
    
}
.botaoAlternarTelaCheia:-webkit-full-screen	{ width: 100% }
.botaoAlternarTelaCheia:-moz-full-screen	{ width: 100% }
.botaoAlternarTelaCheia:-ms-full-screen		{ width: 100% }
.botaoAlternarTelaCheia:-o-full-screen		{ width: 100% }
.botaoAlternarTelaCheia:full-screen		{ width: 100% }*/
/* FIM DO GERAL */

/* POP-UP */

.botao_fechar{
    position: absolute;
    top: -5px;
    right: -5px;
    background: url("../imagens/icones/fechar_16.png");
    min-height: 16px;
    min-width: 16px;
    z-index: 2;
    border: none;
    max-width: 16px;
    max-height: 16px;
}

.popUp {
    display: none;
    padding: 5px;
    position: absolute;
    min-width: 200px;
    max-width: 350px;
    min-height: 50px;
    /*right: 10px;*/
    left: 10px;
    top: 70px;
    border: #ccc solid 1px;
    border-radius: 5px;
    background-color: white;
}

.popUp p{
    margin: 15px 10px 10px 15px ;
}
/* FIM DO POP-UP */

/* CONTENT */
.content {
    overflow:auto;
    padding-bottom: 150px;
    width: 80%;
    position: relative;
    margin: auto;
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 50px;

    padding-bottom: 30px;
    display: block;
}

.content p{
    text-align: justify;
    font-size: 95%;
}

nav {
    width: 100%;
    height: 100%;
}

body > nav {
    height: auto;
    min-height: 100%;
}

.content fieldset{
    position: relative;
    padding: 30px;
    padding-bottom: 25px;
    margin-bottom: 5px;

    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #FFF;

    /*    -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.13);
        -moz-box-shadow:    3px 3px 4px rgba(50, 50, 50, 0.13);
        box-shadow:         3px 3px 4px rgba(50, 50, 50, 0.13);*/
}

.content fieldset > fieldset{
    border: #ccc solid 1px;
    box-shadow: none;

    padding: 10px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.content fieldset legend {
    position: relative;
    background-color: #FFF;
    border: #ccc solid 1px;
    border-radius: 4px;
    padding: 4px;
}

/* FIM DO CONTENT */
/*================================================*/
/* FOOTER */

.arrow-down {
    display: none;
    position: absolute;
    right: 10px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid rgb(28, 82, 150);
}

.arrow-up {
    display: none;
    opacity: 0;
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-bottom: 20px solid rgb(28, 82, 150);
}

footer{
    height: 10px;
    max-height: 300px;
    /*background: steelblue;*/
    background: url("../imagens/candidato1.png");
    position: relative;
    bottom:0;
    margin: 0;
    margin-top: -20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 0;
    clear: both;
}

footer lt{
    font-size: 130%;
    font-weight: bold;
}
footer p{
    font-size: 110%;
}
.footerWrap {
    top: 50px;
    height:100%;
    max-height: 300px;
    /*background: lavender;*/
    background: url("../imagens/candidato1.png");
    border-color: #c8d7dc;
    -webkit-box-shadow: 10px 2px 12px rgba(50, 50, 50, 0.1) inset ;
    -moz-box-shadow:    10px 2px 12px rgba(50, 50, 50, 0.1) inset;
    box-shadow:         10px 2px 12px rgba(50, 50, 50, 0.1) inset;
}
.footerLinks{
    font-size: 85%;
    vertical-align: top;
    display: inline-block;
    max-width: 400px;
}

.footerLinks ul {
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px
}

.footerLinks ul lt{
    font-weight: bold;
}
.footerLinks ul li{
    margin: 10px;
    list-style: none;
    text-align: left;
}
.footerLinks ul li p{
    text-align: justify;
}

.footerLinks a:after{
    content: url("../imagens/icones/external_link.gif");
    position: relative;
    left: 5px;
    padding-right: 5px;
}

#fullscreen-toggle{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
}
/* FIM FOOTER */
/*================================================*/
/* HEADER */

#barra_superior {
    margin: 0;
    border: 2px solid #3871a6;
    background: #3871a6;
    border-left: none;
    border-right: none;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999999;
    display: none;
}

#menuPosition {
    margin:0;
    width:100%; 
    visibility: hidden;
    border:none;
}
.headerWrap{
    position: relative;
    min-height: 100px;

    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;

    display: block;

    background: none;
    opacity: 1;

    border-top-style: none;
    border-radius: 20px;
}
.headerWrap h1 {
    font-size: 150%;
    text-align: center;
    font-family: sans-serif;
    color: #555555; 
}
header{
    /*border-top: #3871a6 4px solid;*/
    background: url("../imagens/backgroundHeader.png");
    min-height: 140px;
}

header figure {
    margin: 0;
}
header a{ /* Todos os links do header */
    text-decoration: none;
}
header .logo {
    position: absolute;
    width: 190px;
    display: inline;
    z-index: 2;
    left: 10px;
    top: 10px;
    bottom: auto;

    /*    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.1);
        -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.1);
        box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.1);*/


}

@media (max-width: 500px){
    header .logo{
        display: none;
    }
    header h1{
        font-size: 120%;
        max-width: 150px;
    }
    .menu a li{
        padding-top:5px;
        padding-bottom:5px;
    }
    footer {
        display: none;
    }
}
@media (min-width:500px ) and ( max-width:800px){
    header h1{
        display: none;
    }
    div#informacoes{
        display:none;
    }
}
@media (min-width:800px) and (max-width:1100px){
    header h1{
        font-size: 150%;
    }
}
header .userInfoWrap {
    position: absolute;
    background: #FFF;
    border-radius: 5px 0 0 5px;
    right: 0px;
    top: 20px;
    padding: 20px;
}
header .userInfoWrap *{
    /*font-size: 100%;*/
    font-family: monospace;
    text-align: right;
}
header .userInfoWrap [id=sair]:before{
    content: url("../imagens/icones/sair.png");
    vertical-align: -20%;
    padding: 5px;
}
header .userInfoWrap [id=gerenciarConta]:before{
    content: url("../imagens/icones/configuracoes.png");
    vertical-align: -10%;
    padding: 5px;
}

/* FIM HEADER */
/*================================================*/
/* MENU */

@media (min-width:500px ) and ( max-width:800px){
    /* Icones para os menus*/
    #homeLink:before{
        content: url("../imagens/icones/home_22.png");

    }
    #usuariosLink:before{
        content: url("../imagens/icones/usuarios_22.png");
    }
    #cursospolosLink:before{
        content: url("../imagens/icones/cursos_22.png");
    }
    #livrosLink:before{
        content: url("../imagens/icones/livros_22.png");
    }
    #documentosLink:before{
        content: url("../imagens/icones/documentos_22.png");
    }
    #equipamentosLink:before{
        content: url("../imagens/icones/equipamentos_22.png");
    }
    #viagensLink:before{
        content: url("../imagens/icones/viagens_22.png");
    }
}
@media (min-width:800px ){


    /* Icones para os menus*/
    #homeLink:before{
        content: url("../imagens/icones/home.png");
    }
    #usuariosLink:before{
        content: url("../imagens/icones/usuarios.png");
    }
    #cursospolosLink:before{
        content: url("../imagens/icones/cursos.png");
    }
    #livrosLink:before{
        content: url("../imagens/icones/livros.png");
    }
    #documentosLink:before{
        content: url("../imagens/icones/documentos.png");
    }
    #equipamentosLink:before{
        content: url("../imagens/icones/equipamentos.png");
    }
    #viagensLink:before{
        content: url("../imagens/icones/viagens.png");
    }
}
/* Links do menu */
/* Correção para a posição dos nomes dos links ao lado da imagem */
li[id$=Link]:before{
    vertical-align: -50%;
    padding-right: 5px;
}
/* Para tratar a opacidade dos icones dos menus */ 
li[id$=Link]:before{
    opacity: 0.3;
}
.menu li[id$=Link]:hover:before{
    opacity: 0.5;
}
.menu li[id$=Link]:active:before{
    opacity: 0.8;
}
.menu li[class$=visited]:before{
    opacity: 1;
}
.menu li[class$=visited]:hover:before{
    opacity: 1;
}

.menu{
    user-select: none;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 56px;
    /*border: rgb(230, 230, 230) solid 1px;*/
    border-left: none;
    border-right: none;
    background: url("../imagens/backgroundMenu.png");
    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.2);
}
.menuContainer {
    z-index: 1;
    position: relative;
    height: 60px;
}

.menu a:hover{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
}
.menu menu{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    display: table;
}

.menu menu:after{
    content: '';
    display: table;
    clear: both;
}
.menu li{
/*    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;*/
    opacity: 0.7;
    color: #000;
    z-index:2;
    font-size: 85%;
    font-family: 'open-sans-bold', sans-serif;
    font-weight: bold;
    position:relative;
    display: inline-table;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0px;
    list-style-type: none;
    border-top: none;
    border-bottom: none;
}

.menu li:after, .menu li:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu li:hover {
/*    -webkit-transition: border-bottom 75ms ease-in;
    -moz-transition: border-bottom 75ms ease-in;
    -o-transition: border-bottom 75ms ease-in;
    transition: border-bottom 75ms ease-in;*/
    
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 2%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(255,255,255,0.96)), color-stop(54%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    border-bottom: #3871a6 3px solid;
}

.menu li.visited {
/*    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;*/
    opacity: 1;
    z-index: 3;
    border-bottom: #3871a6 3px solid;
    -webkit-box-shadow: 2px 0px 12px rgba(50, 50, 50, 0.2) ;
    -moz-box-shadow:    2px 0px 12px rgba(50, 50, 50, 0.2) ;
    box-shadow:         2px 0px 12px rgba(50, 50, 50, 0.2) ;

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 2%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(255,255,255,0.96)), color-stop(54%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

.actualTool {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    /*border: 1px solid #faa732 !important;*/
    border-bottom: #ff9966 3px solid !important;
    opacity: 1.0 !important;
    /*color: rgb(14, 81, 143)!important;*/

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 2%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(255,255,255,0.96)), color-stop(54%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.actualTool:before{
    opacity:1.0!important;
}

.menuLink {
    text-transform: uppercase;
    font-size: 85% !important;
}

.hiddenSubMenuLink{
    display: none;
}

.subMenu{
    position:relative;
    width:100%;
    min-height: 30px;
    max-height: 40px;
}

.subMenu menu ul{
    margin: 0;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 0;
}

.subMenu * {
    z-index: 1;
}

.subMenu menu{
    position: relative;
    display: table;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    padding:0;

    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    border-top: none;

    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.1);
}

.subMenu menu li{
    z-index:2;
    font-size: 90%;
    position:relative;
    display: inline-block;
    padding: 10px;
}
/* FIM MENU */
/*================================================*/
/* Forms alinhados sem tabela */

/* Campos de texto e senha de qualquer formulário */
/*form input[type=text], form input[type=password] {
    margin: 0.2em;
    padding-left: 5px;
    font-size: 14px;
    line-height: 20px;
    width: 180px;
    min-height: 20px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}*/

/* Exibe componente como tabela */
.table {
    display: table;
    width: auto;
    font-size: 15px;
}

/* Span que irá conter um label e um campo de texto ou senha */
.table .line{
    display: table-row;
    padding: 2px;
    line-height: 35px;
}

/* Label para algum campo respectivo */
.table .line label{
    display: table-cell;
    font-family: sans-serif;
    text-align: right;
}

.table .line img{
    position:relative;
    top: 8px;
    display: table-cell;
    opacity: 0.8;
}

.table .line label:first-letter{
    text-transform: uppercase;
}

.table .line label:after{
    content: ':';
}

/* Campos de senha e texto específicos de formulários alinhados sem tabela */
.table .line input, .table .line select, .table .line textarea {
    display: table-cell;
    float: left;
    margin-bottom: -7px;
    margin-left: 10px; /* Para deixar o texto do campo da esquerda mais afastado */
}

select{
    background-color: #FFF;
    border-width: 1px;
    /*border-radius: 3px;*/
    border-color: #DDD;
    min-width:100px;
    min-height: 25px;
    color: #000;
    width: auto;
}

select:disabled{
    min-height: 25px;
    min-width: 100px;
    background-color: #DDD;
    color: #000;
}

/* FIM Forms alinhados sem tabela */
/*================================================*/