@media (min-width:500px ) and ( max-width:800px){
    /* Icones para os menus*/
    #homeLink:before{
        content: url("../imagens/icones/home_22.png");

    }
    #usuariosLink:before{
        content: url("../imagens/icones/usuarios_22.png");
    }
    #cursospolosLink:before{
        content: url("../imagens/icones/cursos_22.png");
    }
    #livrosLink:before{
        content: url("../imagens/icones/livros_22.png");
    }
    #documentosLink:before{
        content: url("../imagens/icones/documentos_22.png");
    }
    #equipamentosLink:before{
        content: url("../imagens/icones/equipamentos_22.png");
    }
    #viagensLink:before{
        content: url("../imagens/icones/viagens_22.png");
    }
    #tarefasLink:before{
        content: url("../imagens/icones/tarefas_22.png");
    }
    #pagamentosLink:before{
        content: url("../imagens/icones/pagamentos_22.png");
    }
    #imagensLink:before{
        content: url("../imagens/icones/imagens_22.png");
    }
}
@media (min-width:800px ){


    /* Icones para os menus*/
    #homeLink:before{
        content: url("../imagens/icones/home.png");
    }
    #usuariosLink:before{
        content: url("../imagens/icones/usuarios.png");
    }
    #cursospolosLink:before{
        content: url("../imagens/icones/cursos.png");
    }
    #livrosLink:before{
        content: url("../imagens/icones/livros.png");
    }
    #documentosLink:before{
        content: url("../imagens/icones/documentos.png");
    }
    #equipamentosLink:before{
        content: url("../imagens/icones/equipamentos.png");
    }
    #viagensLink:before{
        content: url("../imagens/icones/viagens.png");
    }
    #tarefasLink:before{
        content: url("../imagens/icones/tarefas.png");
    }
    #pagamentosLink:before{
        content: url("../imagens/icones/pagamentos.png");
    }
    #imagensLink:before{
        content: url("../imagens/icones/imagens.png");
    }
}
/* Links do menu */

.linkAdministrativo {
    color: red;
}
.linkAdministrativo:hover {
    color: red;
    text-decoration-line: underline;
}
/* Correção para a posição dos nomes dos links ao lado da imagem */
li[id$=Link]:before{
    vertical-align: -50%;
    padding-right: 5px;
}
/* Para tratar a opacidade dos icones dos menus */ 
li[id$=Link]:before{
    opacity: 0.3;
}
.menu li[id$=Link]:hover:before{
    opacity: 0.5;
}
.menu li[id$=Link]:active:before{
    opacity: 0.8;
}
.menu li[class$=visited]:before{
    opacity: 1;
}
.menu li[class$=visited]:hover:before{
    opacity: 1;
}

.menu{
    user-select: none;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 56px;
    /*border: rgb(230, 230, 230) solid 1px;*/
    border-left: none;
    border-right: none;
    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.2);
}
.menuContainer.fixedMenu{
    transition: cubic-bezier all 200ms 100ms;
    opacity: 0.2;
}
.menuContainer:hover{
    opacity: 1;
    min-height: 56px;
    background: url("../imagens/backgroundMenu.png");

}
.menuContainer div.menu:hover{
    opacity: 1;
    min-height: 56px;
    max-height: 600px; /* Correção para quando o menu cola e fica quebrado em mais de uma linha*/
    background: url("../imagens/backgroundMenu.png");

}
.menuContainer {
    z-index: 1;
    position: relative;
    height: 60px;
}

.menu a:hover{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
}
.menu menu{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    display: table;
}

.menu menu:after{
    content: '';
    display: table;
    clear: both;
}
.menu li{
    /*    -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;*/
    opacity: 0.7;
    color: #000;
    z-index:2;
    font-size: 85%;
    font-family: 'open-sans-bold', sans-serif;
    font-weight: bold;
    position:relative;
    display: inline-table;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0px;
    list-style-type: none;
    border-top: none;
    border-bottom: none;
}

.menu li:after, .menu li:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu li:hover {
    /*    -webkit-transition: border-bottom 75ms ease-in;
        -moz-transition: border-bottom 75ms ease-in;
        -o-transition: border-bottom 75ms ease-in;
        transition: border-bottom 75ms ease-in;*/

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 2%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(255,255,255,0.96)), color-stop(54%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    border-bottom: #3871a6 3px solid;
}

.menu li.visited {
    /*    -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;*/
    opacity: 1;
    z-index: 3;
    border-bottom: #3871a6 3px solid;
    -webkit-box-shadow: 2px 0px 12px rgba(50, 50, 50, 0.2) ;
    -moz-box-shadow:    2px 0px 12px rgba(50, 50, 50, 0.2) ;
    box-shadow:         2px 0px 12px rgba(50, 50, 50, 0.2) ;

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 2%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(255,255,255,0.96)), color-stop(54%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

.actualTool {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    /*border: 1px solid #faa732 !important;*/
    border-bottom: #ff9966 3px solid !important;
    opacity: 1.0 !important;
    /*color: rgb(14, 81, 143)!important;*/

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 2%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(255,255,255,0.96)), color-stop(54%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 2%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.actualTool:before{
    opacity:1.0!important;
}

.menuLink {
    text-transform: uppercase;
    font-size: 85% !important;
}

.hiddenSubMenuLink{
    display: none;
}

.subMenu{
    position:relative;
    width:100%;
    min-height: 30px;
    max-height: 40px;
}

.subMenu menu ul{
    margin: 0;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 0;
}

.subMenu * {
    z-index: 1;
}

.subMenu menu{
    position: relative;
    display: table;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    padding:0;

    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    border-top: none;

    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.1);
}

.subMenu menu li{
    z-index:2;
    font-size: 90%;
    position:relative;
    display: inline-block;
    padding: 10px;
}